body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  font-family: Roboto, sans-serif;
  color: #333333;
}

.container{
  width: 600px;
  margin: 0 auto;
  padding: 2.5rem;
  border: 2px solid rgb(213, 206, 206);
  border-radius: 10px;
}

.container h1{
  margin-bottom: 1.5rem;
  color: #0d6efd;
  text-align: center;
  font-size: 46px;
}

#display-message {
  max-height: 300px;
  min-height: 300px;
  overflow-y: auto;
  border: 2px solid #ccc;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  width: 60%;
  margin: 30px auto;
  font-size: 16px;
}

#message-form{
margin-bottom: 1rem;
}

 input[type="text"] {
  padding: 0.4rem;
  margin-top: 0.25rem;
  box-sizing: border-box;
  width: 250px;
}

#message-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message-form input{
  display: flex;
}

label.text{
  font-size: 12px;
}

input::placeholder {
  opacity: 0.5;
  font-size: 11px;
}

#send-btn {
  padding: 0.5rem 2.5rem;
  border-radius: 5px;
  background-color: #0d6efd;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

#send-btn:hover {
  background-color: #0b5ed7;
  color: rgb(255, 255, 255);
}

/* alert messages spacing */
#message-alert {
  margin-top: 0.5rem;
}

/* ===chat area and text style== */
.chat-message {
  margin-bottom: 12px;
  padding: 8px;
}

.chat-name {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 4px;
  color: #0030f1;;
}

.chat-text {
  background-color: #e0f4ff;
  padding: 6px 10px;
  border-radius: 6px;
  /* fixes issue with horizontal overflow*/
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.card{
  padding: 8px;
}

/* style reactions */

.reactions-row{
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
}

.reaction-counts{
  color: #555;
  font-size: 0.75rem;
}

.reactions-row button {
  border: 1px solid rgb(137, 133, 133);
  background-color: #f1f1f1;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
}

.reactions-row button:hover {
  background-color: #e0e0e0;
}


/* media query */
@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 1.5rem;
  }

  #display-message {
    width: 100%;
    min-height: 250px;
  }

  input[type="text"] {
    width: 100%;
  }
}

